
.home-header-container {
  height: 40rem;
}

@media only screen and (min-width: 640px) {
  .home-header-container {
    height: 50rem;
  }
}

.hero-text {
  font-weight: 'lighter';
  line-height: '110%';
  max-width: '1700px';
  letter-spacing: '0.05em';
  word-spacing: '0.2em';
}
